<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	<title><?php echo TEXT_BASE_TITLE; ?></title> 
	<meta http-equiv="Content-Type" content="text/html; charset=us-ascii" /> 
	
	<link rel="stylesheet" type="text/css" href="<?php echo TEMPLATE_CSS; ?>style.css" />
</head>
<body>

	<div id="header">
		<div class="right">
			<a href="?about"><?php echo HEADER_ABOUT; ?></a> | 
			<a href="?blog"><?php echo HEADER_BLOG; ?></a> | 
			<a href="?contact"><?php echo HEADER_CONTACT; ?></a> | 
			<a href="?privacy"><?php echo HEADER_PRIVACY; ?></a> |
			<a href="?roadmap"><?php echo HEADER_ROADMAP; ?> </a>
		</div>
	
		<h1 id="home" onclick="window.location='?';"><?php echo TEXT_HEADER; ?></h1>
	</div>
